# Data Science Tools and Ecosystem

### This notebook summarises Data Science Tools and Ecosystem .

### Objectives:
#### . This notebook covers some libraries used by Data Scientists.
##### . This notebook covers famous programming languages used by Data Scientists.
##### . This notebook covers insertion of markdown cells and code cells.
##### . This notebook covers different types of hadings in markdowns.
##### . This notebook covers some famous Data Science Tools.

Some of the popular languages that Data Scientists use are: [R, Python, SQL]

Some of the commonly used libraries used by Data Scientists include: [Sklearn, Pandas, Numpy, Matplotlib, Seaborn]

#### Data Science Tools
1. Tensor Flow
2. Tableau
3. Scikit-learn

### Below are a few examples of evaluating arithmetic expressions in Python
1.     4+5
2.     6*5+7
3.     7-2+5*7
4.     6/7+8*5-6+7

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
result

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Satyam Tiwari